.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: var(--spacing-md);

    &:nth-child(even) {
        .card__content {
            order: -1;
        }
    }
}

.card__media {
    aspect-ratio: 595/490;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
    }
}

.card__content {
    p {
        font-size: var(--font-size-content);
        font-weight: 300;
        line-height: 1.5;
        font-family: var(--font-primary);
        color: var(--color-light-grey);
    }
    .tag {
        text-transform: uppercase;
        font-size: var(--font-size-footer);
    }
}
