.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: var(--spacing-md);

    &:nth-child(even) {
        .card__content {
            order: -1;
        }
    }
}

.card__media {
    aspect-ratio: 595/490;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
