.cards {
    display: grid;
    gap: var(--spacing-cards);

    @media (width <= $breakpoint-md) {
        grid-template-columns: 1fr 1fr;
    }

    @media (width <= $breakpoint-sm) {
        grid-template-columns: 1fr;
        gap: var(--spacing-xl);
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: var(--spacing-md);

    &:nth-child(even) {
        .card__content {
            order: -1;
        }
    }
    @media (width <= $breakpoint-md) {
        display: block;

        &:nth-child(even) {
            .card__content {
                order: unset;
            }
        }
    }
}

.card__media {
    aspect-ratio: 594/490;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;

        @media (width <= $breakpoint-md) {
        }
    }
}

.card__content {
    h3 {
        margin: 0 0 16px;
        text-transform: uppercase;

        @media (width <= $breakpoint-md) {
            margin-top: var(--spacing-md);
        }
    }
    p {
        font-size: var(--font-size-content);
        font-weight: 300;
        line-height: 1.5;
        font-family: var(--font-primary);
        color: var(--color-light-grey);

        margin: 0;
    }
    .tag {
        text-transform: uppercase;
        font-size: var(--font-size-footer);
        color: var(--color-white);

        margin: 24px 0 32px;
    }
}

.caroussel {
    .card {
        &:nth-child(even) {
            .card__content {
                order: unset;
            }
        }
    }

    .card__content {
        h3 {
            color: var(--color-black);
        }

        p {
            color: var(--color-black);
        }
    }
}
