.footer {
    background-color: var(--color-black);
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 40px 0;
        ul {
            display: flex;
            list-style: none;
            gap: var(--spacing-lg);

            padding: 0;
            margin: 0;
        }

        .icon {
            height: 48px;
            width: 48px;
        }
    }
    a {
        color: var(--color-light-grey);
        &:hover {
            transition: ease-in-out 0.3s;
            color: var(--color-secondary);
        }
    }
    h4 {
        margin: 0;
        font-size: var(--font-size-h4);
        font-family: var(--font-primary);
        font-weight: 300;
        color: var(--color-light-grey);
        line-height: 1.5;
        span {
            font-weight: 600;
            color: var(--color-white);
        }
    }

    p {
        margin: 4px 0 30px 0;
        font-weight: 300;
        font-size: var(--font-size-footer);
        color: var(--color-white);
        line-height: 1.5;
        span {
            font-weight: 700;
        }
    }
}
