.header {
    background: rgba($color: #000000, $alpha: 0.6);
    padding: 25px 0;
    text-align: center;

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;

    .logo {
        font-size: var(--font-size-header);
        font-family: var(--font-primary);
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 600;
        line-height: 1.5;
        color: var(--color-white);

        &:hover {
            transition: ease-in-out 0.3s;
            color: var(--color-secondary);
        }
    }
}
