.header {
    background-color: var(--color-black);
    opacity: 0.6;
    .wrapper {
        display: flex;
        justify-content: center;
        padding: 25px 0;
        .name {
            font-size: var(--font-size-header);
            font-family: var(--font-primary);
            text-transform: uppercase;
            font-weight: 600;
            line-height: 1.5;
            color: var(--color-white);

            margin: 0;
        }
    }
}
