/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #1982f2;
    --color-secondary: #bc3cd8;
    --color-bg-primary: #e2e2e2;
}
