/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Work Sans', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;

    --font-size-content: #{typo(24px, 32px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(40px, 80px)};
    --font-size-h2: #{typo(30px, 40px)};
    --font-size-h3: #{typo(16px)};
    --font-size-h4: #{typo(56px, 56px)};
    --font-size-header: #{typo(20px)};
    --font-size-footer: #{typo(18px)};
}
