{% include "_partials/_header.html" %}

<section class="hero section">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/hero.jpg" alt="Image Hero" />
        </div>
        <div class="hero__content">
            <h1>
                Mon cahier
                <br />
                d’exercice
            </h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <h2>
            Mes premiers
            <span>laboratoires</span>
        </h2>

        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/sem01.png" alt="sem01" />
                </div>
                <div class="card__content">
                    <h3>SEM 01 - RÉVISION</h3>
                    <p>Ce site comporte 4 numéros qui ont servis de révision pour les notions de grid et de flexbox.</p>
                    <p class="tag">HTML + CSS</p>
                    <a href="https://rperno.dectim.ca/cours/cw3/sem01/" target="_blank" class="button">
                        VOIR LE LABORATOIRE
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="/assets/images/sem02.png" alt="sem02" />
                </div>
                <div class="card__content">
                    <h3>SEM 02 - TIMTOOLS</h3>
                    <p>
                        Ce travail avait comme but de nous familiariser avec le stack TimTools, nous avions comme objectif de convertir le CSS du projet en
                        SCSS.
                    </p>
                    <p class="tag">SCSS</p>
                    <a href="https://rperno.dectim.ca/cours/cw3/sem02/" target="_blank" class="button">
                        VOIR LE LABORATOIRE
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/sem03.png" alt="sem03" />
                </div>
                <div class="card__content">
                    <h3>SEM 03 - PORTFOLIO louisa joy</h3>
                    <p>
                        Dans ce laboratoire nous devions utiliser une maquette Figma pour mettre en place le HTML et par la suite reproduire les styles en
                        utilisant le stack de développement TimTools pour découvrir les variables CSS/SCSS.
                    </p>
                    <p class="tag">HTML + SCSS</p>
                    <a href="https://rperno.dectim.ca/cours/cw3/sem03/" target="_blank" class="button">
                        VOIR LE LABORATOIRE
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/sem04.png" alt="sem04" />
                </div>
                <div class="card__content">
                    <h3>SEM 04 - ICÔNES ET CLASSES JS</h3>
                    <p>
                        Ce laboratoire avait comme objectif de nous faire retravailler nos acquis antérieurs de mise en page et de nous introduire aux concepts
                        de base des classes JavaScript.
                    </p>
                    <p class="tag">SCSS + JAVASCRIPT</p>
                    <a href="https://rperno.dectim.ca/cours/cw3/sem04/" target="_blank" class="button">
                        VOIR LE LABORATOIRE
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section caroussel">
    <div class="wrapper">
        <h2>
            Mes
            <span>laboratoires réactifs</span>
        </h2>

        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/sem07.png" alt="sem07" />
                </div>
                <div class="card__content">
                    <h3>SEM 07 - responsive et js</h3>
                    <p>
                        Ce laboratoire avait comme objectif de nous introduire au concept de mise en page réactive et aux media queries. De plus, d’autres
                        excerices sur le JavaScript avec la classe d’état global et la attributs data.
                    </p>
                    <p class="tag">SCSS + JAVASCRIPT</p>
                    <a href="https://rperno.dectim.ca/cours/cw3/sem07/" target="_blank" class="button">
                        VOIR LE LABORATOIRE
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/sem08.png" alt="sem08" />
                </div>
                <div class="card__content">
                    <h3>SEM 08 - crypto qc</h3>
                    <p>
                        Ce laboratoire est similaire au laboratoire de la semaine 03 puisque nous avions comme objectif de reproduire un site en partant d’une
                        maquette Figma, mais ensuite nous devions rendre le site reactif avec les media queries.
                    </p>
                    <p class="tag">HTML + SCSS</p>
                    <a href="https://rperno.dectim.ca/cours/cw3/sem08/" target="_blank" class="button">
                        VOIR LE LABORATOIRE
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/sem09.png" alt="sem09" />
                </div>
                <div class="card__content">
                    <h3>SEM 09 - Swiperjs</h3>
                    <p>
                        Ce laboratoire visait à nous familiariser avec une librairie de JavaScript, dans notre cas SwiperJs. Nous avons appris à s’en servir
                        pour générer des carrousels fonctionnels avec de nombreuses configurations.
                    </p>
                    <p class="tag">HTML + SCSS + JAVASCRIPT</p>
                    <a href="https://rperno.dectim.ca/cours/cw3/sem09/" target="_blank" class="button">
                        VOIR LE LABORATOIRE
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
