{% include "_partials/_header.html" %}

<section class="hero section">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/hero.jpg" alt="Image Hero" />
        </div>
        <div class="hero__content">
            <h1>
                Mon cahier
                <br />
                d’exercice
            </h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <h2>
            Mes premiers
            <span>laboratoires</span>
        </h2>

        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/sem01.png" alt="sem01" />
                </div>
                <div class="card__content">
                    <h3>SEM 01 - RÉVISION</h3>
                    <p>Ce site comporte 4 numéros qui ont servis de révision pour les notions de grid et de flexbox.</p>
                    <p class="tag">HTML + CSS</p>
                    <a href="">VOIR LE LABORATOIRE</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
